@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
}

/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*body & container*/

body {
    font-size: 1rem;
    font-family:  "Kumbh Sans", sans-serif;
}

.container {
    max-width: 23.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*End of the body and container*/

/*navigation*/ 

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin: 20px 0;
}


.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-right {
    gap: 21px;
}

.avatar {
    width: 24px;
    height: 24px;
}


.mobile-menu {
    position: fixed;
    top: 0;
    width: 19rem;
    height: 100%;
    background-color: var(--White);
    height: auto;
    left: -100%;
    box-shadow: -60px 0 100px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 999;
}

.mobile-menu.active {
    left: 0;
}

ul {
    list-style: none;
    
}

li {
    margin-bottom: 28px;
}

a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 600;
}