@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
}

/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*body & container*/

body {
    font-size: 1rem;
    font-family:  "Kumbh Sans", sans-serif;
}

.container {
    max-width: 23.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*End of the body and container*/

/*navigation*/ 

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 1.25rem 0;
}


.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.navbar-right {
    gap: 1.313rem;
}

.card {
    cursor: pointer;
    position: relative;
    
}

.cart-section, .cart-section-buy {
    display: none;
    position: absolute;
    height: 275px;
    width: 355PX;
    transform: translateX(-76%);
    top: 13%;
    background-color: var(--White);
    z-index: 1;
    border-radius: 12px;
}

hr {
    color: var(--Grayish-blue);
    opacity: 0.2;
}

.cart-paragraph {
    text-align: center;
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    margin-top: 5rem;
}


.cart-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    padding: 30px 17px;
}

.product-image {
    width: 56px;
    border-radius: 5px;
}


.cheak-out-btn {
    width: 95%;
    font-size: 0.925rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    background-color: var(--Orange);
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.cheak-out-btn:hover {
    background-color: var(--Pale-orange);
}

.totallamount {
    font-weight: 600;
    margin-left: 10px;
}


.cart {
    padding: 22px 20px;
    color: var(--Very-dark-blue);
    font-weight: 600;
}

.icon-delete {
    cursor: pointer;
}


.product-number {
    position: absolute;
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 50%;
    transform: translateY(-50%);
}

.avatar {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%;
}


.mobile-menu {
    position: fixed;
    top: 0;
    width: 17rem;
    background-color: var(--White);
    height: 100%;
    left: -100%;
    
    transition: left 0.3s ease;
    z-index: 999;
}

.mobile-menu.active {
    left: 0;
    transition: left 0.3s ease;
}

.close-icon {
    margin: 1.25rem 0 2.625rem 2.5rem;
    cursor: pointer;
}

.icon-menu {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 1.25rem 0;
}

li {
    margin-bottom: 1.75rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 600;
}

/*End of the navigation*/

/*header*/

.product-gallery-desktop {
    display: none;
}

.main-image-container {
    position: relative;
    margin: 8px 0 20px 0;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--White);
    border-radius: 50%;
    border: none;
    padding: 0.75rem 0.938rem;
    cursor: pointer;
}

.prev-btn {
    left: 0.625rem;
}

.next-btn {
    right: 0.625rem;
}

.icon-next, .icon-previous {
    width: 0.75rem;
}

/*main*/

main {
    padding: 5px 20px;
}

.paragraph {
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

h1 {
    margin: 10px 0;
    color: var(--Very-dark-blue);
}

.main-paragraph {
    color: var(--Dark-grayish-blue);
    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
}

.number-section {
    display: flex;
    margin: 25px 0;
}

.discount {
    font-size: 29px;
    font-weight: 700;
    color: var(--Very-dark-blue);
}

.dis-amount-wrapper {
   padding: 2px 9px;
   margin-left: 14px;
   margin-top: 8px;
   border-radius: 8px;
   background-color: var(--Black);
   height: 26px;

}

.dis-amount {
   color: var(--White);
   
}

.totall {
    margin-left: auto;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: 600;
    margin-top: 5px;
}

.quantity-btn {
    display: flex;
    justify-content: space-between;
    width: 98%;
    font-weight: 600;
    background-color: var(--Light-grayish-blue);
    padding: 16px 30px;
    border: none;
    border-radius: 11px;
    margin: 10px 0;
}

.decrease-btn, .increase-btn {
    border: none;
    background-color: var(--Light-grayish-blue);
    margin-left: -16px;
    margin-right: -16px;
    cursor: pointer;
}



.card-btn {
    display: block;
    width: 98%;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    background-color: var(--Orange);
    padding: 16px 30px;
    border: none;
    border-radius: 11px;
    margin: 18px 0;
    cursor: pointer;
    
}

.card-btn:hover {
    background-color: var(--Pale-orange);
}


.card-icon {
    display: inline;
    margin-right: 15px;
    margin-top: 2px;
    filter: grayscale(100%) brightness(45%);
    width: 18px;
}

/*End of the main*/


@media only screen and (min-width: 80rem) {
    
    .container  {
        max-width: 80rem;
        display: grid;
        width: 95%;
    }
    
    .mobile-menu {
        position: static;
        left: 0;
    }

    .close-icon {
        display: none;
    }

    .icon-menu {
        display: none;
    }

    .logo-nav {
        display: grid;
        align-items: center;
        grid-template-columns: 138px 1fr;
        gap: 10px;
    }

    .logo {
       grid-column: 1/2;
       grid-row: 1/2;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2.938rem;
        font-size: 1.1rem;
    }

    li {
        margin-bottom: 0px;
    }

    a {
        color: var(--Dark-grayish-blue);
        font-weight: 400;
        opacity: 0.85;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin-left: 18px;
    }
    




    .content-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        margin: 5rem 0;
    }

   
} 