@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);
--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
}

/*css rest*/

*,*::before,  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

/*remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.1ms !important;
        scroll-behavior: auto !important;
    }
}


/*body & container*/

body {
    font-size: 1rem;
    font-family:  "Kumbh Sans", sans-serif;
}

.container {
    max-width: 23.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*End of the body and container*/

/*navigation*/ 

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 1.25rem 0;
}


.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    gap: 1.125rem;
}

.navbar-right {
    gap: 1.313rem;
}

.card {
    cursor: pointer;
    position: relative;
    
}

.cart-section, .cart-section-buy {
    display: none;
    position: absolute;
    height: 275px;
    width: 355PX;
    transform: translateX(-76%);
    top: 13%;
    background-color: var(--White);
    z-index: 1;
    border-radius: 12px;
}

hr {
    color: var(--Grayish-blue);
    opacity: 0.2;
}

.cart-paragraph {
    text-align: center;
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    margin-top: 5rem;
}


.cart-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    padding: 30px 17px;
}

.product-image {
    width: 56px;
    border-radius: 5px;
}


.cheak-out-btn {
    width: 95%;
    font-size: 0.925rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    background-color: var(--Orange);
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.cheak-out-btn:hover {
    background-color: var(--Pale-orange);
}

.totallamount {
    font-weight: 600;
    margin-left: 10px;
}


.cart {
    padding: 22px 20px;
    color: var(--Very-dark-blue);
    font-weight: 600;
}

.icon-delete {
    cursor: pointer;
}


.product-number {
    position: absolute;
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 50%;
    transform: translate(-33%, -51%);
    padding: 0px 4px;
    font-weight: 500;
}

.avatar {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid var(--Orange);
    border-radius: 50%;
}


.mobile-menu {
    position: fixed;
    top: 0;
    width: 17rem;
    background-color: var(--White);
    height: 100%;
    left: -100%;
    box-shadow: -60px 0 100px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 999;
}

.mobile-menu.active {
    left: 0;
    transition: left 0.3s ease;
}

.close-icon {
    margin: 1.25rem 0 2.625rem 2.5rem;
    cursor: pointer;
}

.icon-menu {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 1.25rem 0;
}

li {
    margin-bottom: 1.75rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--Black);
    font-weight: 600;
}


li a::after {
    content: "";
    position: absolute;
    color: var(--Orange);
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: width 0.3s ease;
}

li a:hover::after {
    width: 100%;
}

/*End of the navigation*/

/*header*/

.product-gallery-desktop {
    display: none;
}

.main-image-container {
    position: relative;
    margin: 8px 0 20px 0;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--White);
    border-radius: 50%;
    border: none;
    padding: 0.75rem 0.938rem;
    cursor: pointer;
}

.prev-btn {
    left: 0.625rem;
}

.next-btn {
    right: 0.625rem;
}

.icon-next, .icon-previous {
    width: 0.75rem;
}

.lightbox {
    display: none;
}

/*main*/

main {
    padding: 0.313rem 1.25rem;
}

.paragraph {
    color: var(--Dark-grayish-blue);
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 0.813rem;
}

h1 {
    font-size: 2rem;
    margin: 0.625rem 0;
    color: var(--Very-dark-blue);
}

.main-paragraph {
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
}

.number-section {
    display: flex;
    margin: 1.563rem 0;
}

.discount {
    font-size: 1.813rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
}

.dis-amount-wrapper {
   padding: 0.125rem 0.563rem;
   margin-left: 0.875rem;
   margin-top: 0.5rem;
   border-radius: 0.5rem;
   background-color: var(--Black);
   height: 1.625rem;
   font-weight: 500;

}

.dis-amount {
   color: var(--White);
   
}

.totall {
    margin-left: auto;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: 600;
    margin-top: 0.313rem;
}

.quantity-btn {
    display: flex;
    justify-content: space-between;
    width: 98%;
    font-weight: 600;
    background-color: var(--Light-grayish-blue);
    padding: 1rem 1.875rem;
    border: none;
    border-radius: 0.688rem;
    margin: 0.625rem 0;
}

.decrease-btn, .increase-btn {
    border: none;
    background-color: var(--Light-grayish-blue);
    margin-left: -1rem;
    margin-right: -1rem;
    cursor: pointer;
}

.card-btn {
    display: block;
    width: 98%;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Very-dark-blue);
    background-color: var(--Orange);
    padding: 1rem 1.875rem;
    border: none;
    border-radius: 0.688rem;
    margin: 1.125rem 0;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(225, 125, 26, 0.4)
}

.card-btn:hover {
    background-color: var(--Pale-orange);
}


.card-icon {
    display: inline;
    margin-right: 0.938rem;
    margin-top: 0.125rem;
    filter: grayscale(100%) brightness(45%);
    width: 1.125rem;
}

/*End of the main*/


@media only screen and (min-width: 80rem) {
    
    .container  {
        max-width: 80rem;
        display: grid;
        width: 95%;
    }

    
/*navigation*/ 
    
    .mobile-menu {
        position: static;
        left: 0;
        box-shadow: none;
    }

    .close-icon {
        display: none;
    }

    .icon-menu {
        display: none;
    }

    .logo-nav {
        display: grid;
        align-items: center;
        grid-template-columns: 138px 1fr;
        gap: 0.625rem;
    }

    .logo {
       grid-column: 1/2;
       grid-row: 1/2;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2.938rem;
        font-size: 1.1rem;
    }

    li {
        margin-bottom: 0px;
        position: relative;
    }

    a {
        color: var(--Dark-grayish-blue);
        font-weight: 400;
        opacity: 0.85;
    }

    li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -41px;
        width: 100%;
        height: 2px;
        background-color: transparent;
        opacity: 0;
        transition: 0.3s ease-out;
        transform: translateY(5px);
    }

    li a:hover::after {
        background-color: var(--Orange);
        opacity: 1;
        transform: translateY(0);
    }

    .avatar {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin-left: 1.125rem;
    }


/*End of navigation*/


   /*header*/ 
    .content-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        margin: 5rem 0;
        padding: 0 1.875rem;
    }

    .main-image {
        border-radius: 0.813rem;
        margin-bottom: 2rem;
    }

    .lightbox {
        display: none;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: opacity 0.3s ease-in;
    }

    .lightbox.active {
        display: flex;
        opacity: 1;
    }

    .lightbox-content {
        width: 500px;
        position: relative;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .icon-close {
        position: absolute;
        top: -3rem;
        right: 0rem;
        width: 22px;
        filter: brightness(245%);
        cursor: pointer;
    }

    .prev-btn {
        left: -1.375rem;
    }
    
    .next-btn {
        right: -1.375rem;
    }


    .prev-btn, .next-btn {
        transform: translateY(-73%);
        padding: 1rem 1.2rem;
    }

    .icon-close:hover, 
    .prev-btn:hover,
    .next-btn:hover {
        filter: brightness(101%) sepia(100%) saturate(749%) contrast(97%);
    }

    .product-gallery-mobile {
        display: none;
    }
    
    .product-gallery-desktop {
        display: block;
        width: 550px;
    }
    
    .lightbox-main {
        border-radius: 0.625rem;
        margin-bottom: 1.25rem;
    }
    
    .thumbnails {
        display: flex;
        gap: 2.625rem;
    }
    
    .thumbnail-btn {
        border: none;
        padding: 0;
        background: none;
    }
    
    .thumbnail {
        border-radius: 10px;
        
    }
    
    .thumbnail.active {
        border: 2px solid var(--Orange);
        opacity: 0.3;
        transition: opacity 0.3s border0.3s ease;
    }
    
    
    /*main*/
    
    h1 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .paragraph {
        font-size: 1rem;
        margin-bottom: 0.875rem;
    }
    
    .main-paragraph {
        font-size: 1.188rem;
        margin: 0.625rem 0;
    }
    
    .number-section {
        flex-wrap: wrap;
    }
    
    .discount {
        font-size: 2.063rem;
    }
    
    .totall {
        flex-basis: 100%;
    }
    
    .dis-amount-wrapper {
        padding: 0.188rem 0.563rem;
        border-radius: 0.313rem;
        height: 1.875rem;
        margin-top: 0.625rem;
    }
    
    .quantity-selector {
        display: flex;
        gap: 0.625rem;
    }
    
    .quantity-btn {
       
        width: 97%;
        font-weight: 600;
        padding: 21px 30px;
        margin: 16px 0;
        flex-basis: 186px;
    }
    
    .card-btn {
    
        width: 92%;
        font-size: 1.09rem;
        padding: 19px 27px;
        flex-basis: 350px;
    }
    
    .card-icon {
        width: 19px;
    }
        
    
} 